@model KitAplication.Models.LinkModel

@{
    ViewData["Title"] = "Skapa länk";
    Layout = "_AdminLayout";
}

<div class="display-box">
    <h5>Skapa en ny länk</h5>
    <div class="shadow-border-small box-bg">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div class="form-group mt-3">
                        <input asp-for="Name" class="form-control" placeholder="Namn"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <input asp-for="Url" class="form-control" placeholder="Url"/>
                        <span asp-validation-for="Url" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3 mb-3">
                        <input type="submit" value="Lägg till" class="button-white" />
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </form>
            </div>
         </div>  
    </div>
    <div class="m-2">
        <a asp-action="Index">Tillbaka</a>
    </div>
    
</div>

