@model KitAplication.Models.SystemModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var selectedId = ViewData["RouteValueSelectSystem"];
}
<div class="shadow-border-small box-margin-top-bottom box-bg">
    <h6>Skapa ett system</h6>
<form asp-action="CreateSystem" asp-route-SelectSystem="@selectedId">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-12">
            <label asp-for="SystemName"></label>
            <input asp-for="SystemName" placeholder="Systemets namn" class="form-control" required />
            <span asp-validation-for="SystemName" class="text-danger"></span>

            <label asp-for="Model"></label>
            <input asp-for="Model" placeholder="Ange model" class="form-control" required/>
            <span asp-validation-for="Model" class="text-danger"></span>

            <label asp-for="Prefix"></label>
                <input asp-for="Prefix" formnovalidate="formnovalidate" placeholder="Suffix (Valfritt)" class="form-control" />
           
            <label asp-for="SystemContent"></label>
            <textarea asp-for="SystemContent" type="text" rows="8" cols="20" class="form-control" id="SystemText" placeholder="Fyll i systemmeddelande" required></textarea>
            <span asp-validation-for="SystemContent" class="text-danger"></span>
            
            <input type="submit" class="button-white mt-2" placeholder="Content" value="Skapa"/>
        </div>
    </div>
</form> 
</div>
